<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="House" type="com.orilore.model.House"/>
		<typeAlias alias="Kind" type="com.orilore.model.Kind"/>
		<typeAlias alias="HPrice" type="com.orilore.model.HPrice"/>
		<typeAlias alias="Company" type="com.orilore.model.Company"/>
		<typeAlias alias="Power" type="com.orilore.model.Power"/>
		<typeAlias alias="Admin" type="com.orilore.model.Admin"/>
		<typeAlias alias="Rule" type="com.orilore.model.Rule"/>
		<typeAlias alias="Reserve" type="com.orilore.model.Reserve"/>
	</typeAliases>
	<plugins>
	    <plugin interceptor ="com.github.pagehelper.PageHelper">
	        <property name ="dialect" value="mysql"/>
	        <property name ="offsetAsPageNum" value="true"/>
	        <property name ="rowBoundsWithCount " value="true" />
	        <property name ="pageSizeZero" value="true" />
	        <property name ="reasonable" value="true" />
	    </plugin>
	</plugins>
	<mappers>
		<mapper resource="com/orilore/model/House.xml"/>
		<mapper resource="com/orilore/model/Kind.xml"/>
		<mapper resource="com/orilore/model/HPrice.xml"/>
		<mapper resource="com/orilore/model/Company.xml"/>
		<mapper resource="com/orilore/model/Power.xml"/>
		<mapper resource="com/orilore/model/Admin.xml"/>
		<mapper resource="com/orilore/model/Rule.xml"/>
		<mapper resource="com/orilore/model/Reserve.xml"/>
	</mappers>
</configuration>