<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="House" type="com.orilore.model.House"/>
		<typeAlias alias="Kind" type="com.orilore.model.Kind"/>
	</typeAliases>
	<plugins>
	    <plugin interceptor ="com.github.pagehelper.PageHelper">
	        <property name ="dialect" value="mysql"/>
	        <property name ="offsetAsPageNum" value="true"/>
	        <property name ="rowBoundsWithCount " value="true" />
	        <property name ="pageSizeZero" value="true" />
	        <property name ="reasonable" value="true" />
	    </plugin>
	</plugins>
	<mappers>
		<mapper resource="com/orilore/model/House.xml"/>
		<mapper resource="com/orilore/model/Kind.xml"/>
	</mappers>
</configuration>